<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.admin.mapper.GrouponMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.admin.bean.Groupon">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="groupon_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="rules_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="creator_user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="add_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="share_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="payed" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="deleted" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <resultMap id="Goods_Groupon_Rules" type="com.cskaoyan.mall.admin.bean.GoodsAndGrouponAndGrouponRules">
    <association property="goods" javaType="com.cskaoyan.mall.admin.bean.Goods">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
      <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
      <result column="gallery" jdbcType="VARCHAR" property="gallery" typeHandler="com.cskaoyan.mall.admin.typeHandler.StringToStingrArrayHandler" />
      <result column="keywords" jdbcType="VARCHAR" property="keywords" />
      <result column="brief" jdbcType="VARCHAR" property="brief" />
      <result column="is_on_sale" jdbcType="VARCHAR" property="isOnSale" />
      <result column="sort_order" jdbcType="VARCHAR" property="sortOrder" />
      <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
      <result column="share_url" jdbcType="VARCHAR" property="shareUrl" />
      <result column="is_new" jdbcType="VARCHAR" property="isNew" />
      <result column="is_hot" jdbcType="VARCHAR" property="isHot" />
      <result column="unit" jdbcType="VARCHAR" property="unit" />
      <result column="counter_price" jdbcType="VARCHAR" property="counterPrice" />
      <result column="retail_price" jdbcType="VARCHAR" property="retailPrice" />
      <result column="detail" jdbcType="VARCHAR" property="detail" />
      <result column="add_time" jdbcType="VARCHAR" property="addTime" />
      <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
      <result column="deleted" jdbcType="VARCHAR" property="deleted" />
      <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    </association>
    <association property="groupon" javaType="com.cskaoyan.mall.admin.bean.Groupon">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="order_id" property="orderId" jdbcType="INTEGER" />
        <result column="groupon_id" property="grouponId" jdbcType="INTEGER" />
        <result column="rules_id" property="rulesId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="creator_user_id" property="creatorUserId" jdbcType="INTEGER" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="share_url" property="shareUrl" jdbcType="VARCHAR" />
        <result column="payed" property="payed" jdbcType="BIT" />
        <result column="deleted" property="deleted" jdbcType="BIT" />
    </association>
    <association property="grouponRules" javaType="com.cskaoyan.mall.admin.bean.GrouponRules">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
      <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
      <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
      <result column="discount" jdbcType="DECIMAL" property="discount" />
      <result column="discount_member" jdbcType="INTEGER" property="discountMember" />
      <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
      <result column="deleted" jdbcType="BIT" property="deleted" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, groupon_id, rules_id, user_id, creator_user_id, add_time, update_time, 
    share_url, payed, deleted
  </sql>
  <!--getListRecord-->
  <select id="getListRecord" resultMap="Goods_Groupon_Rules">
    select g.add_time , g.brand_id , g.brief , g.category_id , g.counter_price  ,g.detail,
           g.gallery , g.goods_sn ,  g.id , g.is_hot , g.is_new , g.is_on_sale ,g.keywords , g.name , g.pic_url,
           g.retail_price, g.share_url ,g.sort_order,g.unit ,g.update_time,

           gr.add_time , gr.creator_user_id , gr.groupon_id , gr.deleted,gr.id , gr.order_id , gr.payed ,gr.rules_id,
           gr.share_url , gr.update_time , gr.user_id,

           r.add_time, r.discount ,r.discount_member , r.expire_time , r.goods_id,
           r.goods_name ,r.id , r.pic_url , r.update_time
    from cskaoyan_mall_goods as g,
         cskaoyan_mall_groupon_rules as r ,
         cskaoyan_mall_groupon as gr
    where g.id = r.goods_id
      and gr.rules_id = r.id
      and  r.goods_id like "%${goodsId}%"
    order by g.${sort}  ${order}
  </select>
  <!--create-->
  <insert id="create" keyProperty="id" useGeneratedKeys="true">
    insert into cskaoyan_mall_groupon (id, order_id, groupon_id,
                                       rules_id, user_id, creator_user_id,
                                       add_time, update_time, share_url,
                                       payed, deleted)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{grouponId,jdbcType=INTEGER},
            #{rulesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{creatorUserId,jdbcType=INTEGER},
            #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{shareUrl,jdbcType=VARCHAR},
            #{payed,jdbcType=BIT}, #{deleted,jdbcType=BIT})
  </insert>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cskaoyan_mall_groupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_groupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.mall.admin.bean.Groupon">
    insert into cskaoyan_mall_groupon (id, order_id, groupon_id, 
      rules_id, user_id, creator_user_id, 
      add_time, update_time, share_url, 
      payed, deleted)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{grouponId,jdbcType=INTEGER}, 
      #{rulesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{creatorUserId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{shareUrl,jdbcType=VARCHAR}, 
      #{payed,jdbcType=BIT}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.mall.admin.bean.Groupon">
    insert into cskaoyan_mall_groupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="grouponId != null">
        groupon_id,
      </if>
      <if test="rulesId != null">
        rules_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="creatorUserId != null">
        creator_user_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="shareUrl != null">
        share_url,
      </if>
      <if test="payed != null">
        payed,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="grouponId != null">
        #{grouponId,jdbcType=INTEGER},
      </if>
      <if test="rulesId != null">
        #{rulesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="creatorUserId != null">
        #{creatorUserId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shareUrl != null">
        #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="payed != null">
        #{payed,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mall.admin.bean.Groupon">
    update cskaoyan_mall_groupon
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="grouponId != null">
        groupon_id = #{grouponId,jdbcType=INTEGER},
      </if>
      <if test="rulesId != null">
        rules_id = #{rulesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="creatorUserId != null">
        creator_user_id = #{creatorUserId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shareUrl != null">
        share_url = #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="payed != null">
        payed = #{payed,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mall.admin.bean.Groupon">
    update cskaoyan_mall_groupon
    set order_id = #{orderId,jdbcType=INTEGER},
      groupon_id = #{grouponId,jdbcType=INTEGER},
      rules_id = #{rulesId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      creator_user_id = #{creatorUserId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      payed = #{payed,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>