<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.admin.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.admin.bean.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" typeHandler="com.cskaoyan.mall.admin.typeHandler.StringToStingrArrayHandler" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, specifications, price, number, url, add_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cskaoyan_mall_goods_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="queryByGoodsId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_goods_product
    where goods_id = #{goodsId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_goods_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.mall.admin.bean.Product" keyProperty="id" useGeneratedKeys="true">
    insert into cskaoyan_mall_goods_product (goods_id, specifications,
      price, number, url, 
      add_time, update_time, deleted
      )
    values (#{goodsId,jdbcType=INTEGER}, #{specifications,typeHandler=com.cskaoyan.mall.admin.typeHandler.StringToStingrArrayHandler},
      #{price,jdbcType=DECIMAL}, #{number,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey">
    update cskaoyan_mall_goods_product set
    goods_id=#{product.goodsId},specifications=#{product.specifications,typeHandler=com.cskaoyan.mall.admin.typeHandler.StringToStingrArrayHandler},
    price=#{product.price},number=#{product.number},url=#{product.url},add_time=#{product.addTime},
    update_time=#{product.updateTime},deleted=#{product.deleted}
    where id=#{product.id}
  </update>
</mapper>