<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.BrandMapper">

    <resultMap id="brandMap" type="com.cskaoyan.mall.bean.Brand">
        <result property="id" column="id"/>
        <result property="desc" column="desc"/>
        <result property="picUrl" column="pic_url"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="floorPrice" column="floor_price"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
    <select id="queryPageBrand" resultMap="brandMap">
        SELECT id,name,`desc`,pic_url,sort_order,floor_price,add_time,update_time,deleted
        from cskaoyan_mall_brand
        where id like "%"#{id}"%" and name like "%"#{name}"%"
        order by #{sort} #{order}
    </select>
</mapper>