<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.StatisticalMapper">

    <select id="queryUserS" resultType="map">
       select count(*) as users,DATE(add_time) as `day`  FROM cskaoyan_mall_user GROUP BY DAY(add_time)
    </select>

    <select id="queryOrderS" resultType="map">
       select count(id) as orders,count(distinct user_id) as customers,avg(actual_price) as pcr,sum(actual_price) as amount,DATE(add_time) as `day` FROM cskaoyan_mall_order GROUP BY DAY(add_time)
    </select>

    <select id="queryGoodsS" resultType="map">
       select count(order_id) as orders,count(product_id) as products,sum(price) as amount,DATE(add_time) as `day` FROM cskaoyan_mall_order_goods GROUP BY DAY(add_time)
    </select>
</mapper>